
#menu-content{
    margin: 3% 17%;
}

#menu-div {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between each menu item */
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 20px; /* Space between image and details */
}

.reverse {
    flex-direction: row-reverse;
}

.food-card {
    max-width: 200px;
    border: solid 10px #F2789F;
}

.food-detail {
    font-size: 1.25rem;
    max-width: 400px; /* for the text to not overflow */
}
