*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFE2E2;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6EBC5;
    padding: 10px;
    height:75px;
    border: none;
    border-bottom: solid 1px;
}
button{
    width: 80px;
    margin: 10px;
    font-size: 1.25rem;
    background-color: #C6EBC5;
    color: #43766C;
    border: none;
    cursor: pointer;
}
button:hover{
    color: #1FAB89;
}
p{
    color:#2A2F4F ;
}
h1:hover{
color: rgb(194,65,137);
color: linear-gradient(86deg, rgba(194,65,137,1) 35%, rgba(241,6,227,1) 99%);;

}
i:hover{
    color: #355C7D;
}
.left-nav{
    font-size: 1.5rem;
    font-weight:bolder;
    color: #222831;
}

#content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 3% 10%;
}
.shawarma-img{
    rotate: 270deg;
    margin: 5px;
    height: 600px;
}
@media (max-width:700px){
    #content{
        flex-direction: column;
        align-items: center;
    }
     .shawarma-img{
         height: auto;
         width: 300px;
     }
} 

hr{

    width: 5%;
    border: none;
    border-top: dotted 10px;
    color: #FFABE1;
}

#content > p{
    font-size: 3rem;
}

#paragraph-div{
    margin-top: 10%;
    border: dotted #EE6983 5px;
}

.about-paragraph{
    margin: 30px;
    font-size: 1.25rem;
    color: #222831;
}
.brand-name{
    font-weight: 700;
    color:#F2789F;
}
.joke{
    color: rgb(194,65,137);
    color: linear-gradient(86deg, rgba(194,65,137,1) 35%, rgba(241,6,227,1) 99%);;
;
}
.dead{
        color: #DA0037;
}
.plug-paragraph{
    margin: 10px;
    text-align: center;
    color: #303841;    
}
