*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFE2E2;
}
    /* navigation styling */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C6EBC5;
    padding: 10px;
    height:75px;
    border: none;
    border-bottom: solid 1px;
}
button{
    width: 80px;
    margin: 10px;
    font-size: 1.25rem;
    background-color: #C6EBC5;
    color: #43766C;
    border: none;
    cursor: pointer;
}
button:hover{
    color: #1FAB89;
}
p{
    color:#2A2F4F ;
}
h1:hover{
    color: rgb(194,65,137);
    color: linear-gradient(86deg, rgba(194,65,137,1) 35%, rgba(241,6,227,1) 99%);;
    
}
i:hover{
    color: #355C7D;
}
.left-nav{
    font-size: 1.5rem;
    font-weight:bolder;
    color: #222831;
}


/* home styling */

#content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.image-container {
    margin-top: 1px;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
}

.centered-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #F2789F;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add background color for better readability */
    padding: 10px; /* Optional: Add padding around the text */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    text-align: center; /* Center the text */
}



#content > p{
    font-size: 3rem;
}

#paragraph-div{
    margin-top: 10%;
    border: dotted #EE6983 5px;
}


/* about section styling */

#about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 3% 10%;
}

.about-paragraph{
    margin: 30px;
    font-size: 1.25rem;
    color: #222831;
}
.brand-name{
    font-weight: 700;
    color:#F2789F;
}
.joke{
    color: rgb(194,65,137);
    color: linear-gradient(86deg, rgba(194,65,137,1) 35%, rgba(241,6,227,1) 99%);;
    ;
}
.dead{
    color: #DA0037;
}

hr{
    width: 5%;
    border: none;
    border-top: dotted 10px;
   margin-top: 20px;
    color: #FFABE1;
}


.plug-paragraph{
    margin: 10px;
    text-align: center;
    color: #303841;    
}
